config/database.yml
config/fulcrum.rb
.bundle
db/*.sqlite3
log/*.log
tmp/
.rvmrc
.sass-cache/
*.DS_Store
config/deploy.rb
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
